.avatar-popup {
    width: 280px;
    border-radius: 5px;
    background: rgb(44, 48, 51);
    box-shadow: rgb(102, 102, 102) 2px 0 10px;
    padding: 14px;
    margin: auto;
    position: relative;
    display: inline-block;
    opacity: 0;
    transition: all 0.2s ease-in;
    transform: scale(0.4);
}
.avatar-popup:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    position: absolute;
    border-bottom-color: rgb(44, 48, 51);
    border-width: 8px;
    margin-left: -8px;
}

.choose-text {
  font-size: 16px;
  color: rgb(249, 249, 249);
  margin: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}