@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }

  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }

  80% {
    opacity: 1;
    transform: scale(0.89);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

@keyframes hide {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.avatar-popup {
    width: 280px;
    border-radius: 5px;
    background: rgb(44, 48, 51);
    box-shadow: rgb(102, 102, 102) 2px 0 10px;
    padding: 14px;
    margin: auto;
    position: relative;
    display: inline-block;
    transition: all 0.2s ease-in;
    opacity: 0;
    visibility: hidden;
}

.show {
    visibility: visible;
    opacity: 1;
    animation: show 0.45s;
}

.hide {
  animation: hide 0.45s;
}

.avatar-popup:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    position: absolute;
    border-bottom-color: rgb(44, 48, 51);
    border-width: 8px;
    margin-left: -8px;
}

.choose-text {
  font-size: 16px;
  color: rgb(249, 249, 249);
  margin: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}